<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Listagem
    <ul>
    {% for pessoa in pessoas %}
        <li>{{ pessoa.id}}-- {{ pessoa.nome }} --{{ pessoa.idade }} 
            <a href="{% url 'editar' pessoa.id %}">Editar</a>
            <a href="{% url 'delete' pessoa.id %}">Deletar</a>
        
        </li>
    {% endfor %}

    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome">
        <input type="number" name="idade">
        <button type="submit">Salvar</button>

    </form>

</ul>
</body>
</html>