<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Listagem
    <ul>
    
        <li>{{ pessoa.id}}-- {{ pessoa.nome }} --{{ pessoa.idade }}</li>
    

    <form action="{% url 'update' pessoa.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{ pessoa.nome }}">
        <input type="number" name="idade" value="{{ pessoa.idade}}">
        <button type="submit">Salvar</button>

    </form>

</ul>
</body>
</html>